@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&family=Source+Serif+Pro:wght@200;300;400;600;700;900&family=Tenor+Sans&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}





/* NAV__SECTION */

nav{
  padding: 33px 120px;
  border-bottom: 1.5px solid #E6E6E6;
}

.nav__section{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.nav__list{
  width: 250px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.nav__item{
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  font-family: 'Libre Franklin', sans-serif;
}





/* HEADER__SECTION */


.header__section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 59px;
}

.header__img{
  margin-left: -4.5rem;
}

.header__text{
  margin-left: 85px;
}

.header__text-slogan{
  font-size: 10px;
  font-weight: 400;
  color: #999999;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Libre Franklin', sans-serif;
}

.header__text-title{
  width: 429px;
  font-size: 36px;
  font-weight: 400;
  font-family: 'Tenor Sans', sans-serif;
  text-transform: uppercase;
  margin-top: 18px;
}

.header__text-subtitle{
  width: 419px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Source Serif Pro', serif;
  color: #666666;
  line-height: 24px;
  margin-top: 27px;
}

.header__text-author{
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 28px;
}